:root {
  --main_text: #333333;
  --second_text: #FFFFFF;
  --main_action: dodgerblue;
  --second_action: coral;
  --alt_action: #333333;
  --main_error: red;
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: var(--main_text);
}

article {
  margin: 20px 40px;
}

section {
  margin-bottom: 20px;
}

pre {
  padding: 20px 20px;
  display: block;
}

header>h1 {
  font-size: 20px;
  margin: 0px;
  color: var(--main_action);
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  color: var(--main_error);
  font-size: 12px;
  font-style: italic;
  list-style: none;
  margin-top: 5px;
}

p {
  margin: 10px 0px 5px 0px;
}

button {
  background: var(--main_action);
  border: 1px solid var(--main_action);
  color: var(--second_text);
  font-weight: bold;
  cursor: pointer;
  margin: 5px 0px;
  transition: all ease 100ms;
}

button:hover {
  box-shadow: 0px 5px 10px 0px #888888;
  transition: all ease 100ms;
}

.button-alt {
  background: #FFFFFF;
  border: 1px solid var(--alt_action);
  color: var(--main_text);
}

.error_field {
  border: 1px solid var(--main_error);
}

input, select, button {
  height: 40px;
  padding: 2px 5px;

  animation-name: bounceIn;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

input {
  width: 250px;
}

select, button, progress {
  width: 265px;
}

.buttonPending {
  background: var(--second_action);
  border: 1px solid var(--second_action);
  color: var(--second_text);
}

.modal {
  position: fixed;
  z-index: 1px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-shadow: content-box;
  background: #FFFFFF;
  width: 600px;
  min-height: 100px;
  margin: 10% auto;
  padding: 10px;
}

.modal-button {
  width: 100px;
  float: right;
}

.modal-footer {
  height: 40px;
}

.hide {
  display: none;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
